{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in jogos: %}
                <tr>
                    <td>{{ jogo.nome }}</td>
                    <td>
                        {% for categoria in jogo.categoria %}
                        {% if categoria != jogo.categoria[-1] %} 
                        <span class="muitos_valores">{{ categoria }},</span>
                        {% else %}
                        <span class="muitos_valores">{{ categoria }}</span>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for console in jogo.console %}
                        {% if console != jogo.console[-1] %} 
                        <span class="muitos_valores">{{ console }},</span>
                        {% else %}
                        <span class="muitos_valores">{{ console }}</span>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}